/*Default Setting*/
*{
	box-sizing: border-box;
}
.container-fluid{
	width:100%;
}
.container{
	width: 80%;
	margin: 0 auto;
}
/*Start my css*/
nav{
	background-color: rgba(100,0,0,0.2);
	height: 60px;
}
nav ul{
	background-color: rgba(100,0,0,0.2);
}
.menu li{
	float: left;
	position: relative;
}

nav li:hover{
	background-color: rgba(50,0,0,0.4);
	border-radius: 7px;
}
nav li:hover ul{
	display: block;
}
nav a{
	display: block;
	padding: 0 30px;
	font-size: 24px;
	color: #FFFFFF;
	line-height: 60px;
	text-decoration:none;
	font-family: 'Poiret One', cursive;
}
header{
	background-image: url(https://placem.at/things?w=1500&h=800&random=9);
	height: 800px;
	color: #FFFFFF;
	font-family: 'Cormorant SC', serif;
	text-align: center;
	background-size: cover;
}
header h1{
	font-size: 55px;
	padding-top: 300px;
}
header p{
	font-size: 28px;
}
#last-container{
	position: relative;
}
.top{
	position: absolute;
	bottom: 90px;
	right: 75px;
	height: 70px;
	width: 70px;
	background-color: #000000;
	border-radius: 50%;
}
.top:hover{
	cursor: pointer;
}
.top i{
	font-size: 40px;
	color: #FFFFFF;
}
hr{
	background-color: #520C10;
	margin: 20px;
	border: 0;
	height: 2px;
	width: 100%;
}
section{
	float: left;
	width: 100%;
}
section h2{
	padding-left: 50px;
	font-size: 30px;
	font-family: 'Cormorant SC', serif; 
}
section p{
	padding-left: 50px;
	font-family: 'Cormorant', serif; 
	font-size: 15px;
	line-height: 30px;
	color: #5A1611;
}
.thumbnail{
	width: 25%;
	float: left;
	margin: 10px 0;
	padding: 25px;
}
.thumbnail img{
	width: 100%;
	border-radius: 20%;
}
.thumbnail p{
	padding: 20px 10px;
	font-family: 'Cormorant', serif; 
}
.square{
	overflow: auto;
	margin: 50px 25px;
	background-color: #E6E6E6;
	border-radius: 10px;
}
.square img{
	float: left;
	width: 20%;
	border-radius: 10px;
}
.square p{
	float: left;
	width: 80%;
	padding: 30px;
	font-family: 'Cormorant', serif;
	font-size: 18px;
	color: #5A1611; 
}
footer{
	clear: both;
	height: 60px;
	width: 100%;
	background-color: #612011;
	line-height: 60px;
}
footer p{
	color: #FFFFFF;
	text-align: center;
	font-family: 'Cormorant SC', serif; 
}
footer a{
	text-decoration: none;
	color: #CCCCCC;
	font-style: bold;
}